In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../data/raw/cleaned_merged_seasons.csv', low_memory=False)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96169 entries, 0 to 96168
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   season_x           96169 non-null  object
 1   name               96169 non-null  object
 2   position           96169 non-null  object
 3   team_x             76317 non-null  object
 4   assists            96169 non-null  int64
 5   bonus              96169 non-null  int64
 6   bps                96169 non-null  int64
 7   clean_sheets       96169 non-null  int64
 8   creativity         96169 non-null  float64
 9   element            96169 non-null  int64
 10  fixture            96169 non-null  int64
 11  goals_conceded     96169 non-null  int64
 12  goals_scored       96169 non-null  int64
 13  ict_index          96169 non-null  float64
 14  influence          96169 non-null  float64
 15  kickoff_time       96169 non-null  object
 16  minutes            96169 non-null  int64
 17  opponent_team      96169 non-null  int64
 18  opp_team_name      96169 non-null  object
 19  own_goals          96169 non-null  int64
 20  penalties_missed   96169 non-null  int64
 21  penalties_saved    96169 non-null  int64
 22  red_cards          96169 non-null  int64
 23  round              96169 non-null  int64
 24  saves              96169 non-null  int64
 25  selected           96169 non-null  int64
 26  team_a_score       96169 non-null  float64
 27  team_h_score       96169 non-null  float64
 28  threat             96169 non-null  float64
 29  total_points       96169 non-null  int64
 30  transfers_balance  96169 non-null  int64
 31  transfers_in       96169 non-null  int64
 32  transfers_out      96169 non-null  int64
 33  value              96169 non-null  int64
 34  was_home           96169 non-null  bool
 35  yellow_cards       96169 non-null  int64
 36  GW                 96169 non-null  int64
dtypes: bool(1), float64(6), int64(24), object(6)
memory usage: 26.5+ MB

In [ ]:
df.groupby('season_x')

In [26]:
df['fixture']

0         10
1          3
2          8
3          7
4          6
        ...
96164    377
96165    377
96166    372
96167    372
96168    376
Name: fixture, Length: 96169, dtype: int64

In [ ]:
df['season_x'].value_counts()

In [ ]:
df[df['season_x'] == '2016-17']['team_x'].isna().sum() + df[df['season_x'] == '2017-18']['team_x'].isna().sum()

In [ ]:
df[df['team_x'].isna()]['name'].nunique()

In [ ]:
missing_team_count = df['team_x'].isna().sum()
unique_players_missing_team = df[df['team_x'].isna()]['name'].nunique()

print(f"Total missing team entries: {missing_team_count}")
print(f"Unique players with missing teams: {unique_players_missing_team}")

In [23]:
df['position'].value_counts()

position
MID    39163
DEF    33683
FWD    12669
GK     10553
GKP      101
Name: count, dtype: int64

In [35]:
import importlib
import scripts.data_cleaning as data_cleaning
importlib.reload(data_cleaning)

cols_to_drop = [
        "selected", "transfers_in", "transfers_out",
        "transfers_balance", "value", "GW"
]

df_cleaned = data_cleaning.drop_columns_save_interim(df, cols_to_drop)

Cleaned file saved to: /Users/youssefmalek/PycharmProjects/FPL-ACL-Team-28/data/interim/dataset_post_drop.csv

In [43]:
mask_ne = df['GW'].ne(df['round'])   # or: ~(df['GW'].eq(df['round']))
mask_ne.sum()

0

In [45]:
new_df = pd.read_csv('../data/interim/merged_seasons_post_drop.csv', low_memory=False)

In [47]:
new_df.drop('season_x', axis=1, inplace=True)

In [48]:
new_df

,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,...,penalties_saved,red_cards,round,saves,team_a_score,team_h_score,threat,total_points,was_home,yellow_cards
0,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,454,10,...,0,0,1,0,1.0,2.0,0.0,0,False,0
1,Aaron Lennon,MID,NaN,0,0,6,0,0.3,142,3,...,0,0,1,0,1.0,1.0,0.0,1,True,0
2,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,16,8,...,0,0,1,0,4.0,3.0,23.0,2,True,0
3,Abdoulaye Doucour√©,MID,NaN,0,0,0,0,0.0,482,7,...,0,0,1,0,1.0,1.0,0.0,0,False,0
4,Adam Forshaw,MID,NaN,0,0,3,0,1.3,286,6,...,0,0,1,0,1.0,1.0,0.0,1,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96164,Oliver Skipp,MID,Spurs,0,0,16,0,0.0,441,377,...,0,0,38,0,4.0,1.0,0.0,2,False,0
96165,Ryan Sessegnon,DEF,Spurs,0,0,0,0,0.0,436,377,...,0,0,38,0,4.0,1.0,0.0,0,False,0
96166,Ashley Young,DEF,Aston Villa,0,0,0,0,0.0,538,372,...,0,0,38,0,1.0,2.0,0.0,0,True,0
96167,Jeremy Sarmiento Morante,MID,Brighton,0,0,0,0,0.0,119,372,...,0,0,38,0,1.0,2.0,0.0,0,False,0
96168,Philip Billing,MID,Bournemouth,0,0,15,0,0.0,70,376,...,0,0,38,0,0.0,1.0,0.0,2,False,0